<div id="messages"></div>
<div id="output-data" class="body row scroll-y"><p>For help, type help!</p></div>
<div id="terminal-entry">
  <label>sql&gt;</label><div><input type="text" name="entry" id="entry" value="" /></div>
</div>